/* AppComponent's private CSS styles */

h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}


h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}


nav a {
  background-color: #eee;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  text-decoration: none;
}

  nav a:visited, a:link {
    color: #334953;
  }

  nav a:hover {
    background-color: #cfd8dc;
    color: #039be5;
  }

  nav a.active {
    color: #039be5;
  }
