/* DashboardComponent's private CSS styles */

[class*='col-'] {
  float: left;
  padding-bottom: 20px;
  padding-right: 20px;
}


[class*='col-']:last-of-type {
  padding-right: 0;
}


a {
  text-decoration: none;
}


*, *:after, *:before {
  box-sizing: border-box;
}


h3 {
  margin-bottom: 0;
  text-align: center;
}


h4 {
  position: relative;
}


.grid {
  margin: 0;
}


.col-1-4 {
  width: 25%;
}


.module {
  background-color: #3f525c;
  border-radius: 2px;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  padding: 20px;
  text-align: center;
}

  .module:hover {
    background-color: #eee;
    color: #607d8b;
    cursor: pointer;
  }


.grid-pad {
  padding: 10px 0;
}

  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }


@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}


@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }

  .module {
    min-width: 60px;
  }
}
